/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/********************************/
/*********** my styles **********/
/********************************/

/* START: checkboxes */
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input {
    top: 3px;
}

.form-check-label {
    padding-left: 0;
}
/* END: checkboxes */

/* START: buttons */
button,
.btn {
    cursor: pointer;
}
/* END: buttons */

/* START: nav-link */
.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: flex-start;
}

.row-flex>.form-group {
    width: 32%;
    margin-right: 2%;
}

.form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: flex-end;
    padding: 0 0 16px 20px;
}

.form-check input[type="checkbox"] {
    top: auto;
    bottom: 20px;
    left: 0;
    margin-left: 0;
}

.add_product_form textarea {
    resize: none;
    height: 300px;
}

.w-23-5 {
    width: 23.5% !important;
}

w-32 {
    width: 32% !important;
}

.w-49 {
    width: 49% !important;
}

.w-66 {
    width: 66% !important;
}

.last {
    margin-right: 0 !important;
}
/* END: nav-link */

.form-group {
    position: relative;
}

.form-group .invalid-feedback {
    position: absolute;
    top: 100%;
    border: 1px solid #EED3D7;
    border-radius: 4px;
    left: 0;
    background-color: #F2DEDE;
    z-index: 1;
    padding: 8px 14px;
}

.is-valid + .invalid-feedback {
    display: none !important;
}

.dnk-errors {
    position: fixed;
    z-index: 5000;
    bottom: 10px;
    right: 10px;
    width: 300px;
}

.dnk-errors  .invalid-feedback {
    padding: 8px 14px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    color: #B94A48;
    background: #F2DEDE;
    border: 1px solid #EED3D7;

    right: 0;
    opacity: 1;

    display: block;
    margin-top: 10px;
    position: relative;

    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}